html {
  box-sizing: border-box;
  background-color: #c9b5ab;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  color: #3f1622;
}

a,
a:link {
  color: #8f2440;
  text-decoration: none;
}

a:hover {
  color: #3f1622;
  text-decoration: underline;
}

nav li {
  list-style-type: none;
  line-height: 1.5;
  font-size: 1.125rem;
}
