html {
  box-sizing: border-box;
  background-color: #c9b5ab;
  font-family: PT Sans;
  font-weight: bold;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  color: #3f1622;
}

a,
a:link {
  color: #8f2440;
}

a:hover {
  color: #3f1622;
}
